.container-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
}

.container-auth header {
  font-size: 1.5rem;
}

.container-auth small {
  font-size: 0.95rem;
}

.form-auth {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 400px;
  max-width: 100%;
  margin: 0 0 0.5rem 0;
}

.form-auth label {
  display: flex;
  flex-direction: column;
}

.form-auth input {
  font-size: 1rem;
  padding: 0.4rem;
}
