.App {
  display: flex;
  flex-direction: column;
}

.img-hero {
  max-width: 100%;
  width: 600px;
  height: auto;
  align-self: center;

  margin: 1.5rem 0;
}

.container-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.container-actions button {
  width: max-content;
}

@media only screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }
}

@media only screen and (max-width: 420px) {
  .logo {
    font-size: 1.8rem;
  }

  .logo img {
    width: calc(var(--icon-size) - 10px);
  }
}

@media only screen and (max-width: 380px) {
  .logo {
    font-size: 1.5rem;
  }

  .logo img {
    width: calc(var(--icon-size) - 20px);
  }
}
